.search-form {
    --border-radius: 6px;

    background-color: var(--surface-color-2);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
}

.search-form .input__input {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.search-form .search-form__submit-button {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.search-form__submit-button {
    background-color: var(--surface-color-3);
    border-width: 0;
    box-sizing: border-box;
    color: var(--text-color);
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 700;
    height: 64px;
    padding: 8px 16px;
    transition: background-color ease-in-out .1s, color ease-in-out .1s;
}

.search-form__submit-button:hover,
.search-form__submit-button:focus {
    background-color: var(--surface-color-3-light);
}

.search-form__submit-button:active {
    background-color: var(--surface-color-3-dark);
    color: var(--text-color-2);
}

@media (min-width: 1024px) {
    .search-form {
        flex-direction: row;
    }

    .search-form > :first-child {
        flex-basis: 100%;
    }

    .search-form .input__input {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
    }
    
    .search-form .search-form__submit-button {
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }

    [dir="rtl"] .search-form .input__input {
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
        flex-basis: 100%;
    }
    
    [dir="rtl"] .search-form .search-form__submit-button {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
    }
}

@media (prefers-reduced-motion) {
    .search-form__submit-button {
        transition: none;
    }
}

@media (forced-colors: active) {
    .search-form__submit-button {
        border-width: initial;
    }
}